<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WahiShareExt.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>wahi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49F151EE2DE4BF3100573F48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49F152032DE4BF3200573F48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49F1520D2DE4BF3200573F48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49F152242DE4C42400573F48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
