<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FacebookAppID</key>
	<string>YOUR_FACEBOOK_APP_ID_HERE</string>
	<key>FacebookClientToken</key>
	<string>YOUR_FACEBOOK_CLIENT_TOKEN_HERE</string>
	<key>FacebookDisplayName</key>
	<string>Reminora</string>
</dict>
</plist>